:root {
    --base-font-size: 18px;
    --base-line-height: 1.7;
    --link-text-decoration--hover: underline dotted;
    --text-color-base: var(--base-color);
    --sidebar-width: 20rem;
    --sidebar-nav-indent: 0.5em;
    --sidebar-padding: 0 20px;
    --sidebar-nav-margin: 0.5rem 0 0;
}

.sidebar>h1 img {
    border-radius: 25%;
    max-width: 35%;
}

div.sidebar-nav ul p {
    line-height: 0.9;
}

article#main>p {
    text-align: justify;
}

article#main>div:first-child {
    margin: 0 0 -55px 0;
}

article#main>div:first-child>p {
    margin: 0;
    font-size: 12px;
    text-decoration: none;
}

article#main>div:first-child>p>a:hover {
    text-decoration: var(--link-text-decoration--hover);
}

.page_toc p.title {
    margin-top: 30px;
}

.page_toc ul a:hover span {
    color: var(--text-color-base) !important;
    border-bottom: none !important;
    text-decoration: var(--link-text-decoration--hover) !important;
}

@media (min-width:320px) and (max-width:961px) {
    .page_toc {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-color: white;
        --base-background-color: #28303d;
        --base-color: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --theme-color: #28303d;
        --base-background-color: rgb(243, 243, 243);
        --base-color: #28303d;
    }
}